@{
    ViewData["Title"] = "Index";
}
<hr />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div>
        The Elaphiti Islands or the Elaphites (Croatian: Elafitski otoci or Elafiti) is a small archipelago consisting of several islands stretching northwest of Dubrovnik, in the Adriatic Sea.
        The Elaphites have a total land area of around 30 square kilometres (12 square miles) and a population of 850 inhabitants.
        The islands are covered with characteristic Mediterranean evergreen vegetation and attract large numbers of tourists during the summer tourist season due to their beaches and pristine scenery.
    </div>
    <div>
        Sources differ on the exact number of the Elaphiti Islands.
        According to a more recent classification, there are 13 islands in the archipelago,
        among them 8 larger (Olipa, Tajan, Jakljan, Šipan, Ruda, Lopud, Koločep and Daksa) and
        5 smaller ones (Sveti Andrija, Mišnjak, Kosmeč, Goleč and Crkvine).
    </div>
    <br /><br />
    <div style="display: flex;">
        <div>
            <h4>Elaphiti Islands</h4>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Kolo%C4%8Dep">Koločep (Kalamota)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Lopud">Lopud</a></li>
                <li><a href="https://en.wikipedia.org/wiki/%C5%A0ipan">Šipan</a></li>
            </ul>
            <h4>Other Islands</h4>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Lokrum">Lokrum</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Mljet">Mljet</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kor%C4%8Dula">Korčula</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Lastovo">Lastovo</a></li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d375282.77097669913!2d17.631560162550265!3d42.70590911349823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b8da7e5109291%3A0x4fceaeea116cbe4a!2sElafitski%20otoci!5e0!3m2!1shr!2shr!4v1609899349618!5m2!1shr!2shr" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <br /><br />
    <div>
        Mljet is the southernmost and easternmost of the larger Adriatic islands of the Dalmatia region of Croatia.
        The National Park includes the western part of the island, Veliko jezero, Malo jezero, Soline Bay and a sea belt 500 m wide from the most prominent cape of Mljet covering an area of 54 km2.
        The central parts of the park are Veliko jezero with the Isle of St. Mary, Malo jezero and the villages of Goveđari, Polače and Pomena.
    </div>
    <br /><br />
    <div>
        Korčula is a Croatian island in the Adriatic Sea.
        It has an area of 279 km2 (108 sq mi); 46.8 km (29.1 mi) long and on average 7.8 km (4.8 mi) wide — and lies just off the Dalmatian coast.
        Its 15,522 inhabitants (2011) make it the second most populous Adriatic island after Krk and the most populous Croatian island not connected to the mainland by a bridge.
        The population are almost entirely ethnic Croats (95.74%).
    </div>
    <br /><br />
    <div>
        Lastovo is an island municipality in the Dubrovnik-Neretva County in Croatia.
        The municipality consists of 46 islands with a total population of 792 people, of which 94,7% are ethnic Croats, and a land area of approximately 53 square kilometres (20 sq mi).
        The biggest island in the municipality is also named Lastovo, as is the largest town.
        The majority of the population lives on the 46 square kilometres (18 sq mi) island of Lastovo.
    </div>
</body>
</html>